/* Style Sheet for bio.html */

@font-face {
	font-family:'Friz';
	src:url('friz.ttf');
}

@font-face {
	font-family:'Tufts';
	src:url('rockwell.ttf');
}

@font-face {
	font-family:'Alba';
	src:url('albas.ttf');
}

body {

	background-image: url("wood3.jpg");
	background-attachment: fixed;
	font-family:'Friz';
}

h1 {
	font-family:'Alba';
	color: hsla(46, 95%, 35%, 1);
	text-align: center;
	font-size:3em;

}

div {

	background-color: hsla(360, 95%, 15%, 0.3);
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom:5px;
	margin-top:5px;
	border-style: solid;
	border-color: hsla(31, 85%, 25%, 0.2);
	border-width: 10px;

}

p {
	color: hsla(46, 95%, 35%, 1);
}