/* stylesheet for index.html */

@font-face {
	font-family:'Friz';
	src:url('fonts/friz.ttf');
}

@font-face {
	font-family:'Tufts';
	src:url('fonts/rockwell.ttf');
}

@font-face {
	font-family:'Alba';
	src:url('fonts/albas.ttf');
}

body {

	background-image: url("images/wood3.jpg");
	background-attachment: fixed;
}

h1 {
	font-family:'Alba';
	color: hsla(46, 95%, 35%, 1);
	text-align: center;
	font-size:3em;

}

img {
	height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
	text-align: center;
	font-size: 2em;
	font-family:'Alba';
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	display: block;
}