/* Style Sheet for resume.html */

@font-face {
	font-family:'Friz';
	src:url('fonts/friz.ttf');
}

@font-face {
	font-family:'Tufts';
	src:url('fonts/rockwell.ttf');
}

@font-face {
	font-family:'Alba';
	src:url('fonts/albas.ttf');
}

body {

	background-image: url("images/wood3.jpg");
	background-attachment: fixed;
}

div {
	background-color: hsla(360, 95%, 15%, 0.3);
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom:5px;
	margin-top:5px;
	border-style: solid;
	border-color: hsla(31, 85%, 25%, 0.2);
	border-width: 10px;


}

h1 {
	font-family:'Alba';
	color: hsla(46, 95%, 35%, 1);
	text-align: center;
	font-size:3em;

}

h2 {
	color: hsla(46, 75%, 45%, 0.9);
	text-align: justify;
	font-family:'Friz';
}

h3 {
	color:white;
	font-family:'Tufts';
}


h4 {
	color: hsla(46, 95%, 45%, 0.9);
	font-family:'Friz';
}

li {
	color: white;
	padding:4px;
	font-size:1.2em;
}

p {
	font-size: 0.8em;
	color:white;
}
